# Byte-compiled / optimized / DLL files
*__pycache__*
*.py[cod]
*$py.class

 
# pyenv
.python-version

 

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

 
 
 

#pydev
.pydevproject
.project
.settings


#Qgis 

*.gpkg-wal
*.gpkg-shm
*.aux.xml
*.tif.aux
*.qmd

#VisualBasic
.vscode
*.code-workspace

#Documentation builds
docs/env
docs/build
docs/_build/
docs/dev/sphinx_warnings.txt


#Windows links
*.lnk

#CanFlood dev
definitions.py

docs/_build/