accelerate==1.1.1
aiohappyeyeballs==2.4.3
aiohttp==3.11.7
aiosignal==1.3.1
alabaster==1.0.0
altair==5.4.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.6.2.post1
attrs==24.2.0
babel==2.16.0
beautifulsoup4==4.12.3
blinker==1.9.0
blis==1.0.1
blobfile==3.0.0
bs4==0.0.2
cachetools==5.5.0
catalogue==2.0.10
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
cloudpathlib==0.20.0
cloudpickle==3.1.0
colorama==0.4.6
coloredlogs==15.0.1
commonmark==0.9.1
compressed-tensors==0.8.0
confection==0.1.5
contourpy==1.3.1
cryptography==43.0.3
cycler==0.12.1
cymem==2.0.8
dataclasses-json==0.6.7
datasets==3.1.0
defusedxml==0.7.1
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
docutils==0.21.2
einops==0.8.0
et_xmlfile==2.0.0
fairscale==0.4.13
faiss-cpu==1.9.0.post1
fastapi==0.115.5
filelock==3.16.1
filterpy==1.4.5
fire==0.7.0
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.55.0
frozenlist==1.5.0
fsspec==2024.10.0
gguf==0.10.0
gitdb==4.0.11
GitPython==3.1.43
greenlet==3.1.1
h11==0.14.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.26.2
humanfriendly==10.0
hydra-core==1.3.2
idna==3.10
imagesize==1.4.1
importlib_metadata==8.5.0
iniconfig==2.0.0
interegular==0.3.3
iopath==0.1.10
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.7.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.7
langchain==0.3.8
langchain-community==0.3.8
langchain-core==0.3.21
langchain-experimental==0.3.3
langchain-text-splitters==0.3.2
langcodes==3.4.1
langsmith==0.1.146
language_data==1.2.0
lark==1.2.2
llama_models==0.0.53
llama_stack==0.0.53
llama_stack_client==0.0.53
llvmlite==0.43.0
lm-format-enforcer==0.10.9
lxml==5.3.0
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.23.1
matplotlib==3.9.2
mdurl==0.1.2
mistral_common==1.5.1
mpmath==1.3.0
msgpack==1.1.0
msgspec==0.18.6
multidict==6.1.0
multiprocess==0.70.16
murmurhash==1.0.10
mypy-extensions==1.0.0
narwhals==1.13.5
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
norfair==2.2.0
numba==0.60.0
numpy==2.1.3
nvidia-ml-py==12.560.30
omegaconf==2.3.0
onnx==1.17.0
onnxruntime==1.20.1
openai==1.55.1
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
orjson==3.10.12
outcome==1.3.0.post0
outlines==0.0.46
packaging==24.2
pandas==2.2.3
partial-json-parser==0.2.1.1.post4
pb-tool==3.1.0
pdfminer.six==20240706
pillow==11.0.0
pluggy==1.5.0
portalocker==3.0.0
preshed==3.0.9
prometheus-fastapi-instrumentator==7.0.0
prometheus_client==0.21.0
prompt_toolkit==3.0.48
propcache==0.2.0
protobuf==5.28.3
psutil==6.1.0
py-cpuinfo==9.0.0
pyairports==2.1.1
pyarrow==18.0.0
pycocotools==2.0.8
pycountry==24.6.1
pycparser==2.22
pycryptodomex==3.21.0
pydantic==2.9.2
pydantic-settings==2.6.1
pydantic_core==2.23.4
pydeck==0.9.1
Pygments==2.18.0
pyparsing==3.2.0
pypdf==5.1.0
PyPDF2==3.0.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.16.1
pyreadline3==3.5.4
PySocks==1.7.1
pytest==8.3.4
pytest-mock==3.14.0
pytest-qgis==2.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
pywin32==308
PyYAML==6.0.2
pyzmq==26.2.0
qgis-venv-creator==0.1.0
ray==2.39.0
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rich==12.6.0
rpds-py==0.21.0
safetensors==0.4.5
-e git+https://github.com/facebookresearch/sam2.git@c2ec8e14a185632b0a5d8b161928ceb50197eddc#egg=SAM_2
scikit-learn==1.5.2
scipy==1.14.1
segment-anything==1.0
selenium==4.26.1
sentence-transformers==3.3.1
sentencepiece==0.2.0
setuptools==75.6.0
shellingham==1.5.4
six==1.16.0
smart-open==7.0.5
smmap==5.0.1
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.6
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx==8.1.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.35
srsly==2.4.8
starlette==0.41.2
streamlit==1.40.1
supervision==0.25.0
sympy==1.13.1
tenacity==9.0.0
termcolor==2.5.0
thinc==8.3.2
threadpoolctl==3.5.0
tiktoken==0.7.0
tokenizers==0.20.3
toml==0.10.2
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tornado==6.4.1
tqdm==4.67.0
transformers==4.46.2
trio==0.27.0
trio-websocket==0.11.1
typer==0.13.0
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
ultralytics==8.3.38
ultralytics-thop==2.0.12
urllib3==2.2.3
uvicorn==0.32.0
vllm==0.6.4.post1
wasabi==1.1.3
watchdog==6.0.0
watchfiles==1.0.0
wcwidth==0.2.13
weasel==0.4.1
websocket-client==1.8.0
websockets==14.1
Werkzeug==3.1.3
wrapt==1.16.0
wsproto==1.2.0
xxhash==3.5.0
yarl==1.18.0
zipp==3.21.0
